<section class="content">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-12 px-5">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</section>