<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-12 px-4">
                <h1 class="m-0 text-dark" [innerHtml]="title"></h1>
            </div>
        </div>
    </div>
</section>
