<app-header-title [title]="titlePage"></app-header-title>
<app-page-content>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="form!" (submit)="onValidatePostData()">
                <div class="row mt-3">
                    <div class="col-12">
                        <h1>Photo</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control img-text" [value]="imgText" placeholder="Url Upload Images" (click)="fileImagePicker.click()" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-danger btn-img" type="button" (click)="fileImagePicker.click()">Browse</button>
                            </div>
                        </div>
                        <span class="small text-muted float-left">Please choose image</span>
                        <span class="clearfix"></span>
                        <input type="file" #fileImagePicker (change)="onSelectFile($event)" accept="image/*" />
                    </div>
                    <div *ngIf="imagePreview" class="col-12 mt-n3">
                        <div class="row justify-content-center">
                            <div class="col-md-8 mb-3">
                                <img class="img-fluid" [src]="imagePreview" alt="{{form?.get('title')?.value">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <h1>Personal Data</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <mat-form-field class="mb-3" hintLabel="Minimum {{ minName }} Characters and Maximum {{ maxName }} Characters">
                            <input matInput type="text" formControlName="fullname" placeholder="Full Name" required [maxlength]="maxName">
                            <mat-error *ngIf="form?.get('fullname')?.invalid">Please Enter a Full Name!</mat-error>
                            <mat-hint align="end">{{form?.get('fullname')?.value?.length || 0}}/{{ maxName }}</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="mb-3">
                            <input matInput formControlName="birthdate" [min]="minBirthDate" [matDatepicker]="birthDatePicker" placeholder="Choose Birth Date" maxlength="10" minlength="8" (dateInput)="onChangeBirthDate($event)" (dateChange)="onChangeBirthDate($event)" readonly>
                            <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #birthDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <mat-form-field class="mb-3">
                            <input matInput type="email" formControlName="email" placeholder="Email" required>
                            <mat-error *ngIf="form?.get('email')?.invalid">Please Enter an Email!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="mb-3" hintLabel="Minimum {{ minNumber }} Characters and Maximum {{ maxNumber }} Characters">
                            <input matInput type="text" formControlName="phone" placeholder="Phone Number" required [maxlength]="maxNumber">
                            <mat-error *ngIf="form?.get('phone')?.invalid">Please Enter a Phone Number!</mat-error>
                            <mat-hint align="end">{{form?.get('phone')?.value?.length || 0}}/{{ maxNumber }}</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-label id="slider-radio"><b>Gender:</b></mat-label><span><small class="text-danger">&nbsp;&nbsp;*required</small></span>
                        <mat-radio-group color="primary" aria-labelledby="slider-radio" class="radio-slider-group mb-2" formControlName="gender" [required]="true">
                            <mat-radio-button class="radio-slider-group" value="L">Male</mat-radio-button>
                            <mat-radio-button class="radio-slider-group" value="P">Female</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <h1>Education</h1>
                    </div>
                </div>
                <ng-container formArrayName="educations">
                    <div class="container-fluid mb-3 mt-3" *ngFor="let education of educations.controls; index as i">
                        <mat-card>
                            <!-- Header Card -->
                            <div class="d-flex flex-row justify-content-between">
                                <p class="mb-2 d-flex aling-self-center">Education {{i + 1}}</p>
                                <button type="button" mat-icon-button color="warn" (click)="onRemoveEducationForm(i)">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </div>
                            <!-- Body Card -->
                            <ng-container [formGroupName]="i">
                                <!-- Nama Pendamping -->
                                <div class="row">
                                    <div class="col-12">
                                        <mat-form-field class="mb-3">
                                            <input matInput type="text" formControlName="schoolName" placeholder="School Name {{i + 1}}" required [minlength]="5">
                                            <mat-error *ngIf="education?.get('schoolName')?.invalid">Please Enter a School Name!</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <mat-form-field>
                                            <mat-label>Education Level {{i + 1}}</mat-label>
                                            <mat-select formControlName="level" required>
                                                <mat-option value="SD/MI">SD/MI</mat-option>
                                                <mat-option value="SLTP/MTs">SLTP/MTs</mat-option>
                                                <mat-option value="SMA/SMEA">SMA/SMEA</mat-option>
                                                <mat-option value="SMK">SMK</mat-option>
                                                <mat-option value="Diploma">Diploma</mat-option>
                                                <mat-option value="S1">S1</mat-option>
                                                <mat-option value="S2">S2</mat-option>
                                                <mat-option value="Doktor">Doktor</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="education?.get('level')?.invalid">Please choose a Education level</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <mat-form-field class="mb-3">
                                            <input matInput type="text" formControlName="startYearEdu" placeholder="Start Year {{i + 1}}" required [minlength]="4" [maxlength]="4">
                                            <mat-error *ngIf="education?.get('startYearEdu')?.invalid">Please Enter Start Year!</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="!education?.get('stillLearning')?.value" class="col-12 col-md-6">
                                        <mat-form-field class="mb-3">
                                            <input matInput type="text" formControlName="endYearEdu" placeholder="End Year {{i + 1}}" [required]="!education?.get('stillLearning')?.value" [minlength]="!education?.get('stillLearning')?.value ? 4 : 0" [maxlength]="!education?.get('stillLearning')?.value ? 4 : 0">
                                            <mat-error *ngIf="education?.get('endYearEdu')?.invalid">Please Enter End Year!</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>
                                            <mat-checkbox formControlName="stillLearning">Still in School</mat-checkbox>
                                        </p>
                                    </div>
                                </div>
                            </ng-container>
                        </mat-card>
                    </div>
                </ng-container>
                <div class="mt-2 w-full" fxLayout="row" fxLayoutAlign="end center">
                    <button type="button" mat-mini-fab color="primary" (click)="onAddEducationForm()">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <h1>Working Experience</h1>
                    </div>
                </div>
                <ng-container formArrayName="workings">
                    <div class="container-fluid mb-3 mt-3" *ngFor="let working of workings.controls; index as i">
                        <mat-card>
                            <!-- Header Card -->
                            <div class="d-flex flex-row justify-content-between">
                                <p class="mb-2 d-flex aling-self-center">working {{i + 1}}</p>
                                <button type="button" mat-icon-button color="warn" (click)="onRemoveWorkingForm(i)">
                              <mat-icon>delete</mat-icon>
                            </button>
                            </div>
                            <!-- Body Card -->
                            <ng-container [formGroupName]="i">
                                <!-- Nama Pendamping -->
                                <div class="row">
                                    <div class="col-12">
                                        <mat-form-field class="mb-3">
                                            <input matInput type="text" formControlName="workPlace" placeholder="Working Place {{i + 1}}" required [minlength]="5">
                                            <mat-error *ngIf="working?.get('workPlace')?.invalid">Please Enter a Working Place!</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <mat-form-field class="mb-3">
                                            <input matInput type="text" formControlName="workDepartment" placeholder="Working Department {{i + 1}}" required [minlength]="5">
                                            <mat-error *ngIf="working?.get('workDepartment')?.invalid">Please Enter a Working Department!</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <mat-form-field class="mb-3">
                                            <input matInput type="text" formControlName="workPosition" placeholder="Working Position {{i + 1}}" required [minlength]="5">
                                            <mat-error *ngIf="working?.get('workPosition')?.invalid">Please Enter a Working Position!</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <mat-form-field class="mb-3">
                                            <input matInput type="text" formControlName="startYearWork" placeholder="Start Year {{i + 1}}" required [minlength]="4" [maxlength]="4">
                                            <mat-error *ngIf="working?.get('startYearWork')?.invalid">Please Enter Start Year!</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="!working?.get('stillWorking')?.value" class="col-12 col-md-6">
                                        <mat-form-field class="mb-3">
                                            <input matInput type="text" formControlName="endYearWork" placeholder="End Year {{i + 1}}" [required]="!working?.get('stillWorking')?.value" [minlength]="!working?.get('stillWorking')?.value ? 4 : 0" [maxlength]="!working?.get('stillWorking')?.value ? 4 : 0">
                                            <mat-error *ngIf="working?.get('endYearWork')?.invalid">Please Enter End Year!</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>
                                            <mat-checkbox formControlName="stillWorking">Still Working</mat-checkbox>
                                        </p>
                                    </div>
                                </div>
                            </ng-container>
                        </mat-card>
                    </div>
                </ng-container>
                <div class="mt-2 w-full" fxLayout="row" fxLayoutAlign="end center">
                    <button type="button" mat-mini-fab color="primary" (click)="onAddWorkingForm()">
                  <mat-icon>add</mat-icon>
                </button>
                </div>
                <div class="mt-3" fxLayout="row" fxLayoutAlign="center center">
                    <button class="btn btn-success btn-submit mb-5" type="submit">Save Data CV</button>
                </div>
            </form>
        </div>
    </div>
</app-page-content>
