mat-spinner {
    margin: auto;
}

mat-form-field {
    width: 100%;
}

input[type="file"] {
    visibility: hidden;
}

.radio-slider-group {
    display: flex;
    flex-direction: row;
    margin: 0 15px;
}

.radio-slider-button {
    margin: 5px;
}
